table {
    width: 100%;
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    align-items: center;
}

th, td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #d3d3d3;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.container-custom-view {
    max-width: 900px;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}

.body-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    height: calc(100vh - 100px);
}

h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}