<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TopCalculations - Add Subtask</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/add.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
</head>
<body>
<nav class="navbar">
    <div class="navbar-left">
        <a href="/" th:href="@{/}" class="navbar-logo">Calculations</a>
        <div class="navbar-links">
            <a class="nav-link" th:href="@{/}">Home</a>
            <a class="nav-link" th:href="@{/login}" th:if="${username == 'Guest'}">Login</a>
            <a class="nav-link" th:href="@{/signup}" th:if="${username == 'Guest'}">Signup</a>
            <a class="nav-link" th:href="@{/view-projects}" th:if="${username != 'Guest'}">View Projects</a>
            <a class="nav-link" th:href="@{/add}" th:if="${username != 'Guest'}">Add Project/Task</a>
            <a class="nav-link" th:href="@{/addSub}" th:if="${username != 'Guest'}">Add Subtask</a>
            <span class="nav-link" th:if="${username != 'Guest'}">
                <form th:action="@{/logout}" method="post" style="display: inline;">
                    <a href="#" onclick="event.preventDefault(); this.closest('form').submit();" class="logout-link">Logout</a>
                </form>
            </span>
        </div>
    </div>
    <span class="welcome-message" th:if="${username != 'Guest'}">Welcome, <span th:text="${username}"></span>!</span>
</nav>

<h1>Add Subtask</h1>

<div class="container container-custom-task">
    <form th:action="@{/addSub}" th:object="${project}" method="post">
        <div class="form-group">
            <label for="sub_task_name">Name of Subtask:</label>
            <input type="text" id="sub_task_name" th:field="*{subTaskName}" required class="form-control">
        </div>

        <div class="form-group">
            <label for="main_task">Main Task: </label>
            <select id="main_task" th:field="*{taskProjectName}" class="form-control">
                <option value="" th:text="'-- Select Main Task --'"></option>
                <option th:each="project : ${projects}" th:value="${project.taskProjectName}" th:text="${project.taskProjectName}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="duration">Duration:</label>
            <input type="text" id="duration" th:field="*{duration}" required class="form-control">
        </div>

        <div class="form-group">
            <label for="planned_start_date">Planned Start Date:</label>
            <input type="date" id="planned_start_date" th:field="*{plannedStartDate}" required class="form-control">
        </div>

        <div class="form-group">
            <label for="planned_finish_date">Planned Finish Date:</label>
            <input type="date" id="planned_finish_date" th:field="*{plannedFinishDate}" required class="form-control">
        </div>

        <div class="form-group">
            <label for="expected_time_per_day">Expected Spending Time Per Day (in hours):</label>
            <input type="number" id="expected_time_per_day" th:field="*{expectedTimePerDay}" required class="form-control">
        </div>

        <div class="form-group">
            <label for="assigned">Assigned:</label>
            <input type="text" id="assigned" th:field="*{assigned}" required class="form-control">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

    <div th:if="${messageSub}" class="alert alert-success">
        <p th:text="${messageSub}"></p>
    </div>
</div>

<div id="footer-placeholder" th:replace="fragments/footer :: footer"></div>
</body>
</html>