<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<nav class="navbar">
    <div class="navbar-left">
        <a href="/" th:href="@{/}" class="navbar-logo">Calculations</a>
        <div class="navbar-links">
            <a class="nav-link" th:href="@{/}">Home</a>
            <a class="nav-link" th:href="@{/login}" th:if="${username == 'Guest'}">Login</a>
            <a class="nav-link" th:href="@{/signup}" th:if="${username == 'Guest'}">Signup</a>
            <a class="nav-link" th:href="@{/project}" th:if="${username != 'Guest'}">View Project</a>
            <a class="nav-link" th:href="@{/addTask}" th:if="${username != 'Guest'}">Add Task</a>
            <span class="nav-link" th:if="${username != 'Guest'}">
                <form action="#" th:action="@{/logout}" method="post" style="display: inline;">
                    <a href="#" onclick="event.preventDefault(); this.closest('form').submit();" class="logout-link">Logout</a>
                </form>
            </span>
        </div>
    </div>
    <span class="welcome-message" th:if="${username != 'Guest'}">Welcome, <span th:text="${username}"></span>!</span>
</nav>

<div class="container container-custom">
    <h1>Sign Up</h1>
    <form action="#" th:action="@{/signup}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required class="form-control"/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <p th:if="${message}" th:text="${message}"></p>
</div>

<div id="footer-placeholder" th:replace="fragments/footer :: footer"></div>
</body>
</html>