<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TopCalculations - Task</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<nav class="navbar">
    <div class="navbar-left">
        <a href="/" th:href="@{/}" class="navbar-logo">Calculations</a>
        <div class="navbar-links">
            <a class="nav-link" th:href="@{/}">Home</a>
            <a class="nav-link" th:href="@{/login}" th:if="${username == 'Guest'}">Login</a>
            <a class="nav-link" th:href="@{/signup}" th:if="${username == 'Guest'}">Signup</a>
            <a class="nav-link" th:href="@{/view-projects}" th:if="${username != 'Guest'}">View Projects</a>
            <a class="nav-link" th:href="@{/add}" th:if="${username != 'Guest'}">Add Project/Task</a>
            <a class="nav-link" th:href="@{/addSub}" th:if="${username != 'Guest'}">Add Subtask</a>
            <a class="nav-link" th:href="@{/profile}" th:if="${username != 'Guest'}" aria-label="My Profile">My Profile</a>
            <span class="nav-link" th:if="${username != 'Guest'}">
                <form th:action="@{/logout}" method="post" style="display: inline;">
                    <a href="#" onclick="event.preventDefault(); this.closest('form').submit();" class="logout-link">Logout</a>
                </form>
            </span>
        </div>
    </div>
    <span class="welcome-message" th:if="${username != 'Guest'}">Welcome, <span th:text="${username}"></span>!</span>
</nav>

<div class="body-wrapper">
    <div class="container-custom-task">
        <h1><span th:text="${username}"></span>' Task</h1>

        <div th:if="${errorMessage}">
            <p style="color: red;" th:text="${errorMessage}"></p>
        </div>

        <table>
            <thead>
            <tr>
                <th>WBS</th>
                <th>Name</th>
                <th>Duration</th>
                <th>Planned Start Date</th>
                <th>Planned Finish Date</th>
                <th>Assigned</th>
                <th>Time Spent on Task</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${projects}">
                <td th:text="${project.wbs}"></td>
                <a class="name" th:href=""><td th:text="${project.projectTaskName}"></td></a>
                <td th:text="${project.duration}"></td>
                <td th:text="${project.plannedStartDate}"></td>
                <td th:text="${project.plannedFinishDate}"></td>
                <td th:text="${project.assigned}"></td>
                <td th:text="${project.spentTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>